<div>
    <h1>Inicia sesion con github</h1>
    <a href="/api/sessions/github"> <button>Entrar con Github</button> </a>
    <br>
    <h2>Su no quieres usar Github Puedes usar nuestros enlaces:</h2>
    <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
    <p>¿Ya tienes cuenta con nosotros? <a href="/users/login">Haz Login aquí</a></p>
</div>